
*{
    margin:0px;
    padding:0px;
  }

@font-face {
    font-family: letra;
    src: url(../fonts/AmsterdamTwoTtf-OVMEe.ttf);
}


.logoArge img{

    width: 12rem;
    height: 10rem;

    
    margin-left: 4rem;
}


.registrateUsuario{
    background: aquamarine;
    display: flex;
    justify-content: left;
    margin-left: 15rem;
}


.tituloPrincipal {
    font-family:letra;
    display: flex;
    justify-content: center;
padding-bottom: 15rem;
font-size: 3.5rem;
color: white;

}

/* form voluntario */

section {
  background-image: url('../img/tuta.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 31rem;
  width: 100%;
  align-items: center;
}

.div_velo{
  background-color: rgba(0, 0, 0, 0.542);
  height: 31rem;
  width: 100%;
}

.form_voluntario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 26rem;
  width: 30%;
  margin-left: 35%;
  border-radius: 5px;
}

#p_bienevenida {
  text-align: center;
  color: white;
  font-size: 20px;
}

#label_nombre{
  margin-top: 15px;
}

.form_voluntario label:after {
  content: '*';
  margin-left: 3px;
  color: red;
  font-weight: bold;
}

.form_voluntario input{
   border: 1px solid black;
   outline: none;
   border-radius: 8px;
   height: 3rem;
   width: 70%;
   margin-top: 4px;
   text-align: center;
} 

.form_voluntario button{
  padding: 9px;
  border-radius: 8px;
  background-color: #0b60dd;
  border: none;
  margin-top: 15px;
  color: white;
}

.form_voluntario p{
  margin-top: 15px;
}

/* /* /* /* /* /* /*  */ 

#nav_link_a_color1{
  color: white;
}

#nav_link_a_color2{
  color: white;
}

  .footer4kolom{
    color: black;
    width:100%;
    overflow:hidden;
        display:block;
      background: white;
      max-height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color:#fff;
  }

  .menufoot{
    width:90%;
    margin:auto;
    padding:20px 0px;
    overflow:hidden;
  }
  .menukiri img{
    margin:0px;
    padding:0px;
    width:190px;
  }
  .menukiri, .menukanan{
    width:50%;
    float:left;
  }
  
  .menukanan ul li{
    color: black;
    float:right;
    margin:0px;
    padding:0px 10px;
    list-style:none;
    margin-top:20px;
  }

  .mainfooter{
    color: black;
    width:90%;
    margin:auto;
    overflow:hidden;
    border-top:1px solid ;
  }

  .kolomftr{
   
    width:22%;
    float:left;
    margin:1%;
  }

  .kolomftr h2{
    font-size:22px;
    padding:7px 0px;
    
    margin-left: 2rem;
  }

  .widget-content{
    margin-top:10px;
  }

  .widget-content ul li{
    
    margin:0px;
    padding:5px 0px;
    list-style:none;
  }
  
  .widget-content a{
    color:black;
    text-decoration:none;
  }

  .creditfoot{
    width:90%;
    margin:auto;
    text-align:center;
    margin-top:30px;
    padding:25px 0px;
    background:#DF4A85;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }

  .logoFooter img{
    width: 15rem;

    margin-right: 10rem;

  }

  @media screen and (max-width: 426px) {
    .mainfooter{
      
        display: flex;
       flex-direction: column;
       justify-content: center;
       margin-left: 2rem;
    }
    .tituloPrincipal {

     font-size: 2rem;
     color: black;
     

    }

  }

  @media screen and (max-width: 427px){

  section {
    background-image: url('../img/tuta.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 30rem;
    width: 100%;
    align-items: center;
  }
  
  .div_velo{
    background-color: rgba(0, 0, 0, 0.542);
    height: 30rem;
    width: 100%;
  }
  
  .form_voluntario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 20rem;
    width: 70%;
    margin-left: 15%;
    border-radius: 5px;
  }
  
  #p_bienevenida {
    text-align: center;
    color: white;
    font-size: 15px;
  }
  
  #label_nombre{
    margin-top: 10px;
  }
  
  .form_voluntario label:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
  }
  
  .form_voluntario input{
     border: 1px solid black;
     outline: none;
     border-radius: 8px;
     height: 3rem;
     width: 70%;
     margin-top: 2px;
  } 
  
  .form_voluntario button{
    padding: 9px;
    border-radius: 8px;
    background-color: #0b60dd;
    border: none;
    margin-top: 2px;
    color: white;
  }
  
  .form_voluntario p{
    margin-top: 2px;
  }
  
  }