
*{
    margin:0px;
    padding:0px;
  }

@font-face {
    font-family: letra;
    src: url(../font-style/AmsterdamTwoTtf-OVMEe.ttf);
}


.logoArge img{

    width: 12rem;
    height: 10rem;

    
    margin-left: 4rem;
}





.tituloPrincipal {
    font-family:letra;
    display: flex;
    justify-content: center;
padding-bottom: 15rem;
font-size: 3.5rem;
color: white;

}


.terceraImagen img{
   padding-bottom: 10rem;
}

.carousel-item{

    height: 30rem;
    width: 100%;

}



  .footer4kolom{
    color: black;
    width:100%;
    overflow:hidden;
        display:block;
      background: white;
      max-height: 100%; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color:#fff;
  }
  .menufoot{
    width:90%;
    margin:auto;
    padding:20px 0px;
    overflow:hidden;
  }
  .menukiri img{
    margin:0px;
    padding:0px;
    width:190px;
  }
  .menukiri, .menukanan{
    width:50%;
    float:left;
  }
  
  .menukanan ul li{
    color: black;
    float:right;
    margin:0px;
    padding:0px 10px;
    list-style:none;
    margin-top:20px;
  }
  .mainfooter{
    color: black;
    width:90%;
    margin:auto;
    overflow:hidden;
    border-top:1px solid ;
  }
  .kolomftr{
   
    width:22%;
    float:left;
    margin:1%;
  }
  .kolomftr h2{
    font-size:22px;
    padding:7px 0px;
    
    margin-left: 2rem;
  }
  .widget-content{
    margin-top:10px;
  }
  .widget-content ul li{
    
    margin:0px;
    padding:5px 0px;
    list-style:none;
  }
  .widget-content a{
    color:black;
    text-decoration:none;
  }
  .creditfoot{
    width:90%;
    margin:auto;
    text-align:center;
    margin-top:30px;
    padding:25px 0px;
    background:#DF4A85;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
  }

  .logoFooter img{
    width: 15rem;

    margin-right: 10rem;

  }

  @media screen and (max-width: 426px) {
    .mainfooter{
      
        display: flex;
       flex-direction: column;
       justify-content: center;
       margin-left: 2rem;
    }
    .tituloPrincipal {

     font-size: 2rem;
     color: black;
     

    }
  }

  /* Color de las letras de botones de "Soy Voluntario" y "Soy Anfitrion" */

  #nav_link_a_color1{
    color: white;
  }
  
  #nav_link_a_color2{
    color: white;
  }

  /* Form voluntario */

section {
  background-image: url('../img/tuta.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 32rem;
  width: 100%;
  align-items: center;
}

.div_velo{
  background-color: rgba(0, 0, 0, 0.542);
  height: 33rem;
  width: 100%;
}



/* form voluntario */

section {
background-image: url('../img/tuta.jpg');
background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
height: 50rem;
width: 100%;
align-items: center;
}

.div_velo{
background-color: rgba(0, 0, 0, 0.542);
height: 31rem;
width: 100%;
}

.form_voluntario {
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
height: 26rem;
width: 30%;
margin-left: 35%;
border-radius: 5px;
}

/*=== Propiedades para la imagen del fondo del registro===*/
.login-form {
  padding: 100px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../Imagenes/fondo.jpg);
  background-size: cover;
  /*=== Propiedades para formulario===*/
}
.login-form form {
  max-width: 500px;
  margin: auto;
  padding: 20px 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 2px 10px #838282;
}
.login-form .form-name {
  text-align: center;
  margin-bottom: 25px;
  line-height: 100px;
}
.login-form .form-name img {
  height: 8rem;
  width: 13rem;
  padding: 1rem;
}
.login-form .item {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
}
.login-txt a {
  text-decoration: none !important;
  color: black !important;
}
/*=== Propiedades para el boton de registro===*/
.boton_ {
  background: #01252e;
  color: white !important;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
  margin: 0;
}
.boton_:hover, .boton_:focus {
  background: #928f8f;
  color: black !important;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}
/*=== Media Query para el registro===*/
@media screen and (max-width: 680px) {
  .login-form form {
    width: 90%;
    margin: 0 auto;
    padding: 40px 18px;
  }
}




